// colors
$light: #eafefc;
$warm: #fdd908;
$dark: #0d457f;

// text styles
// regular 400 italic - make mixin?
$italic-font: 'IM Fell English', serif;
// regular 400 bold 700
$main-font: 'Roboto', sans-serif;
