// imports
@import 'variables';
@import 'setup';

// todo: hover states for nav (low priority)

html {
  font-size: 125%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p.body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}

// utility classes
.current {
  border-bottom: 3px solid $warm;
}

.btn {
  background: $warm;
  font-family: $italic-font;
  font-weight: 400;
  text-align: center;
  font-size: 22.4px;
  line-height: 41.6px;
  text-transform: uppercase;
  padding: 10px 10px;
}

// !MAIN PAGE
// header section
header {
  background: $dark;
  background-image: url(/assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60vh;

  // navigation
  nav {
    padding: 4rem 0;
  }

  ul {
    display: flex;
    width: 30%;

    li {
      margin-right: 40px;
    }
  }

  a,
  a:visited {
    color: #fff;
    font-family: $main-font;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 1px;
    padding: 3px;
  }

  .wrapper {
    height: 100%;
  }

  .header-container {
    height: 100%;
    position: relative;
  }

  h1 {
    color: $warm;
    font-family: $italic-font;
    font-size: 79px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
    width: 50%;
    position: absolute;
    top: 20%;
  }

  .img-container {
    width: 60%;
    position: absolute;
    top: -5%;
    right: -100px;
  }
}

// info section
.info {
  background: $light;
  padding: 150px 0;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-gap: ;
  }

  .icon-span {
    display: inline-block;
    border-radius: 50%;
    background: $warm;
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: $dark;
    margin-right: 15px;
  }

  h2 {
    display: inline;
    color: $dark;
    font-family: $italic-font;
    font-size: 45px;
    font-weight: 400;
    line-height: 99.8px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    padding-left: 72px;
  }
}

// programs section
.programs {
  background: $dark;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .left {
    box-shadow: 20px 20px $warm;
    position: relative;
    // this is setting the left 'overflow' the same as the top img
    left: -100px;
    top: -50px;
  }

  .right-text {
    padding-left: 80px;
    text-align: left;
  }

  .left-text {
    padding-right: 80px;
    text-align: right;

    .body {
      text-align: left;
    }
  }

  .right {
    box-shadow: -20px 20px $warm;
    position: relative;
    // this is setting the right 'overflow' the same as the top img
    right: -100px;
    bottom: -50px;
  }

  h3 {
    color: #ffffff;
    font-family: $italic-font;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  .text-container {
    padding-top: 50px;
    color: #ffffff;
  }

  a,
  a:visited {
    color: $dark;
  }

  .body {
    margin-bottom: 20px;
  }
}

// find out more section
.find-out {
  background: $light;
  padding: 150px;
  text-align: center;

  h2 {
    color: $dark;
    font-family: $italic-font;
    font-size: 45px;
    font-weight: 400;
    line-height: 99.8px;
    text-transform: uppercase;
    margin: 0;
  }

  .body {
    padding: 0 75px 50px;
    text-align: left;
  }

  a,
  a:visited {
    color: $dark;
  }
}

// banner image
.banner-img {
  background-color: $dark;
  background-image: url(/assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

// contest section
.contest {
  background: $light;
  padding: 150px;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 100px;
  }

  .img-container {
    box-shadow: -20px 20px $warm;
  }

  img {
    object-fit: cover;
    height: 100%;
  }

  h2 {
    color: $dark;
    font-family: $italic-font;
    font-size: 45px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .btn {
    position: relative;
    left: 0;
    top: 26%;
  }

  a,
  a:visited {
    color: $dark;
  }
}

// gallery
.gallery {
  background: $dark;
  padding: 100px 0;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

// footer
footer {
  background: $warm;
  color: $dark;
  text-align: center;
  font-family: $main-font;
  padding: 10px;
}

// ! BLOG PAGE
// blog header
header.blog-header {
  background-image: url(/assets/blog-header.jpg);

  h1 {
    color: #ffffff;
    font-family: $italic-font;
    position: static;
    margin: 0;
  }

  .header-container {
    height: auto;
  }
}

// blog main content
.blog-main {
  background: $light;
  padding: 100px 0;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
  }

  // aside/sidebar styles
  .mission {
    background: $dark;
    height: min-content;

    .img-container {
      position: relative;
      top: -15px;
      left: -115px;
      width: 125%;
    }

    .text-container {
      padding: 0 30px 30px;
    }

    h4 {
      color: $warm;
      font-family: $italic-font;
      font-weight: 400;
      font-size: 25px;
      line-height: 58px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }

    .body {
      color: #ffffff;
      margin-bottom: 30px;
    }

    a,
    a:visited {
      color: #ffffff;
      font-family: $main-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1px;
    }

    li {
      list-style: disc;
      color: #ffffff;
      margin-left: 20px;
    }
  }
}

// blog post
.blog-post {
  position: relative;
  top: -7%;

  .blog-img {
    box-shadow: -20px 20px $warm;
    // make img bigger so it spills out a bit
    width: 110%;
    // lines box shadow with border
    position: relative;
    left: 20px;
  }

  .post {
    border-left: 5px solid $warm;
    border-bottom: 5px solid $warm;
    padding-bottom: 125px;
    padding-left: 125px;
  }

  h2 {
    color: $dark;
    font-family: $italic-font;
    font-size: 45px;
    font-weight: 400;
    line-height: 99.8px;
    text-transform: uppercase;
    margin-top: 20px;
    padding-top: 20px;
  }

  .body {
    margin-bottom: 20px;
  }

  .body:last-of-type {
    margin-bottom: 0px;
  }

  // comments
  .comments {
    padding-top: 50px;
    padding-left: 100px;

    h3 {
      color: $dark;
      font-family: $italic-font;
      font-weight: 400;
      font-size: 40px;
      line-height: 58px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .comment {
      display: flex;
      margin-bottom: 40px;
    }

    .profile-photo {
      width: 94px;
      height: 94px;
      margin-right: 40px;
    }

    .text-container {
      width: 79%;
    }

    .timestamp {
      color: $dark;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
