html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}

form input[type=text],
form input[type=email] {
  width: 45%;
  border: 0;
  border-bottom: 2px solid #fdd908;
  background: transparent;
  padding: 20px;
  margin-bottom: 40px;
}
form input[type=text] {
  margin-right: 68px;
}
form textarea {
  width: 100%;
  border: 2px solid #fdd908;
  background: transparent;
  padding: 20px;
  margin-bottom: 40px;
}
form .btn {
  border: none;
  background: #0d457f;
  color: #fdd908;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  text-align: center;
  font-size: 22.4px;
  line-height: 41.6px;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 100%;
}
form .btn:hover {
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  color: #fdd908;
  font-size: 40px;
}

.current {
  border-bottom: 3px solid #fdd908;
}

.btn {
  background: #fdd908;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  text-align: center;
  font-size: 22.4px;
  line-height: 41.6px;
  text-transform: uppercase;
  padding: 10px 10px;
}

header {
  background: #0d457f;
  background-image: url("../assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60vh;
}
header nav {
  padding: 4rem 0;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}
header ul li {
  margin-right: 40px;
}
header a,
header a:visited {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
  padding: 3px;
}
header .wrapper {
  height: 100%;
}
header .header-container {
  height: 100%;
  position: relative;
}
header h1 {
  color: #fdd908;
  font-family: "IM Fell English", serif;
  font-size: 79px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  width: 50%;
  position: absolute;
  top: 20%;
}
header .img-container {
  width: 60%;
  position: absolute;
  top: -5%;
  right: -100px;
}

.info {
  background: #eafefc;
  padding: 150px 0;
}
.info .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info .icon-span {
  display: inline-block;
  border-radius: 50%;
  background: #fdd908;
  height: 50px;
  width: 50px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #0d457f;
  margin-right: 15px;
}
.info h2 {
  display: inline;
  color: #0d457f;
  font-family: "IM Fell English", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  margin: 0;
}
.info p {
  padding-left: 72px;
}

.programs {
  background: #0d457f;
}
.programs .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.programs .left {
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: relative;
  left: -100px;
  top: -50px;
}
.programs .right-text {
  padding-left: 80px;
  text-align: left;
}
.programs .left-text {
  padding-right: 80px;
  text-align: right;
}
.programs .left-text .body {
  text-align: left;
}
.programs .right {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  position: relative;
  right: -100px;
  bottom: -50px;
}
.programs h3 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.programs .text-container {
  padding-top: 50px;
  color: #ffffff;
}
.programs a,
.programs a:visited {
  color: #0d457f;
}
.programs .body {
  margin-bottom: 20px;
}

.find-out {
  background: #eafefc;
  padding: 150px;
  text-align: center;
}
.find-out h2 {
  color: #0d457f;
  font-family: "IM Fell English", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  margin: 0;
}
.find-out .body {
  padding: 0 75px 50px;
  text-align: left;
}
.find-out a,
.find-out a:visited {
  color: #0d457f;
}

.banner-img {
  background-color: #0d457f;
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 500px;
}

.contest {
  background: #eafefc;
  padding: 150px;
}
.contest .wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}
.contest .img-container {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
}
.contest img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.contest h2 {
  color: #0d457f;
  font-family: "IM Fell English", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contest .btn {
  position: relative;
  left: 0;
  top: 26%;
}
.contest a,
.contest a:visited {
  color: #0d457f;
}

.gallery {
  background: #0d457f;
  padding: 100px 0;
}
.gallery ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

footer {
  background: #fdd908;
  color: #0d457f;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

header.blog-header {
  background-image: url("../assets/blog-header.jpg");
}
header.blog-header h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  position: static;
  margin: 0;
}
header.blog-header .header-container {
  height: auto;
}

.blog-main {
  background: #eafefc;
  padding: 100px 0 0;
}
.blog-main .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 100px;
  margin-bottom: -40px;
}
.blog-main .mission {
  background: #0d457f;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.blog-main .mission .img-container {
  position: relative;
  top: -15px;
  left: -115px;
  width: 125%;
}
.blog-main .mission .text-container {
  padding: 0 30px 30px;
}
.blog-main .mission h4 {
  color: #fdd908;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.blog-main .mission .body {
  color: #ffffff;
  margin-bottom: 30px;
}
.blog-main .mission a,
.blog-main .mission a:visited {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}
.blog-main .mission li {
  list-style: disc;
  color: #ffffff;
  margin-left: 20px;
}
.blog-main form ::-webkit-input-placeholder {
  opacity: 1;
}
.blog-main form ::-moz-placeholder {
  opacity: 1;
}
.blog-main form :-ms-input-placeholder {
  opacity: 1;
}
.blog-main form ::-ms-input-placeholder {
  opacity: 1;
}
.blog-main form ::placeholder {
  opacity: 1;
}

.blog-post {
  position: relative;
  top: -7%;
}
.blog-post .blog-img {
  -webkit-box-shadow: -20px 20px #fdd908;
          box-shadow: -20px 20px #fdd908;
  width: 110%;
  position: relative;
  left: 20px;
}
.blog-post .post {
  border-left: 5px solid #fdd908;
  border-bottom: 5px solid #fdd908;
  padding-bottom: 125px;
  padding-left: 125px;
}
.blog-post h2 {
  color: #0d457f;
  font-family: "IM Fell English", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 99.8px;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
}
.blog-post .body {
  margin-bottom: 20px;
}
.blog-post .body:last-of-type {
  margin-bottom: 0px;
}
.blog-post .comments {
  padding-top: 50px;
  padding-left: 100px;
}
.blog-post .comments h3 {
  color: #0d457f;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blog-post .comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.blog-post .comments .profile-photo {
  width: 94px;
  height: 94px;
  margin-right: 40px;
}
.blog-post .comments .text-container {
  width: 79%;
}
.blog-post .comments .timestamp {
  color: #0d457f;
  font-weight: bold;
  margin-bottom: 10px;
}

header.contact-header {
  background-image: url("../assets/contact-header.jpg");
}
header.contact-header h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  position: static;
  margin: 0;
  width: 100%;
}
header.contact-header .header-container {
  height: auto;
}

.contact {
  background: #eafefc;
  padding-top: 150px;
}
.contact .wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}
.contact .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.contact .social-links a {
  color: #0d457f;
}
.contact .email {
  color: #000;
}
.contact .address {
  color: #000;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}
.contact .address .phone {
  color: #000;
}
.contact form {
  background: #0d457f;
  padding: 50px;
  -webkit-box-shadow: 20px 20px #fdd908;
          box-shadow: 20px 20px #fdd908;
  position: relative;
  top: -40%;
  margin-bottom: -80px;
}
.contact input[type=text],
.contact input[type=email] {
  color: #ffffff;
}
.contact input[type=text] {
  margin-right: 67px;
}
.contact textarea {
  color: #ffffff;
}
.contact ::-webkit-input-placeholder {
  opacity: 1;
  color: #ffffff;
}
.contact ::-moz-placeholder {
  opacity: 1;
  color: #ffffff;
}
.contact :-ms-input-placeholder {
  opacity: 1;
  color: #ffffff;
}
.contact ::-ms-input-placeholder {
  opacity: 1;
  color: #ffffff;
}
.contact ::placeholder {
  opacity: 1;
  color: #ffffff;
}
.contact .btn {
  background: #fdd908;
  color: #0d457f;
}

@media (max-width: 1520px) {
  .contest {
    padding: 150px 50px;
  }
  .contest .wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }

  .info .wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .info p {
    padding-left: 0;
  }

  .programs .wrapper {
    grid-gap: 0;
  }

  .find-out {
    padding: 150px 0;
  }
  .find-out .body {
    padding: 0 0 50px;
  }

  .banner-img {
    height: 300px;
  }

  .contact form input[type=text],
.contact form input[type=email] {
    width: 43%;
  }
}
@media (max-width: 1120px) {
  header .img-container {
    display: none;
  }
  header h1 {
    width: 100%;
  }

  .info {
    padding: 50px 0 100px;
  }

  .programs {
    padding: 50px 0;
  }
  .programs .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programs .left {
    width: 60%;
    position: static;
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .programs .right-text {
    padding-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .programs .left-text {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 40px;
  }
  .programs .left-text .body {
    text-align: center;
  }
  .programs .right {
    width: 60%;
    position: static;
    margin: 0 auto;
  }
  .programs h3 {
    text-align: center;
  }
  .programs .text-container {
    padding-top: 10px;
  }

  .find-out {
    padding: 100px 0;
  }

  .contest {
    padding: 100px 50px 150px;
  }
  .contest .wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .contest .img-container {
    display: none;
  }

  .blog-main {
    padding: 60px 0 0;
  }
  .blog-main .wrapper {
    grid-template-columns: 1fr;
    grid-gap: 60px;
    margin-bottom: -40px;
  }
  .blog-main .mission {
    background: #0d457f;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  .blog-main .mission .img-container {
    display: none;
  }
  .blog-main .mission .text-container {
    padding: 40px;
    text-align: center;
  }
  .blog-main form ::-webkit-input-placeholder {
    opacity: 1;
  }
  .blog-main form ::-moz-placeholder {
    opacity: 1;
  }
  .blog-main form :-ms-input-placeholder {
    opacity: 1;
  }
  .blog-main form ::-ms-input-placeholder {
    opacity: 1;
  }
  .blog-main form ::placeholder {
    opacity: 1;
  }

  .blog-post {
    top: 0;
  }
  .blog-post .blog-img {
    width: 98%;
  }
  .blog-post .post {
    padding: 0 30px 30px;
  }
  .blog-post .body {
    margin-bottom: 20px;
  }
  .blog-post .comments {
    padding: 50px;
  }
  .blog-post .comments .text-container {
    width: 85%;
  }

  .blog-footer {
    margin-top: 80px;
  }

  .contact {
    padding-top: 80px;
  }
  .contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin: 40px auto;
  }
  .contact .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .contact form {
    position: relative;
    top: 0;
  }
  .contact input[type=text],
.contact input[type=email] {
    color: #ffffff;
  }
  .contact input[type=text] {
    margin-right: 67px;
  }
  .contact textarea {
    color: #ffffff;
  }
  .contact ::-webkit-input-placeholder {
    opacity: 1;
    color: #ffffff;
  }
  .contact ::-moz-placeholder {
    opacity: 1;
    color: #ffffff;
  }
  .contact :-ms-input-placeholder {
    opacity: 1;
    color: #ffffff;
  }
  .contact ::-ms-input-placeholder {
    opacity: 1;
    color: #ffffff;
  }
  .contact ::placeholder {
    opacity: 1;
    color: #ffffff;
  }
  .contact .btn {
    background: #fdd908;
    color: #0d457f;
  }
}
/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  p.body {
    font-size: 18px;
  }

  .hamburger-menu {
    display: block;
  }

  header {
    height: 50vh;
  }
  header .header-container {
    height: auto;
  }
  header ul {
    display: none;
  }
  header nav {
    padding-top: 2rem;
  }
  header h1 {
    font-size: 50px;
  }

  .info .icon-span {
    height: 40px;
    width: 40px;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    margin-right: 10px;
  }
  .info h2 {
    font-size: 35px;
  }

  .programs h3 {
    font-size: 30px;
  }

  .find-out {
    padding: 50px 0;
  }
  .find-out h2 {
    font-size: 35px;
  }

  .contest {
    padding: 80px 50px 150px;
  }
  .contest h2 {
    font-size: 35px;
  }

  .blog-main form input[type=text],
.blog-main form input[type=email] {
    width: 44%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .find-out h2 {
    line-height: 50px;
  }

  .contest {
    padding-bottom: 100px;
  }
  .contest .btn {
    top: 5%;
  }

  .gallery {
    padding: 50px 0;
  }
  .gallery ul {
    grid-template-columns: 1fr;
  }

  .blog-main form input[type=text] {
    margin-right: 30px;
  }
  .blog-main form input[type=text],
.blog-main form input[type=email] {
    width: 45%;
  }

  .blog-post .comments {
    padding: 25px;
  }
  .blog-post .comments h3 {
    font-size: 35px;
  }

  .contact input[type=text] {
    margin-right: 30px;
  }
}